header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}


/* ---------- ME -------------*/

.me {
  width: 36rem;
  height: 30rem;
  position: absolute;
  left: 50%;
  left: calc(50% - 18rem);
  margin-top: 4rem;
  border-radius: 5%;
  overflow: hidden;
}

/* ---------- SCROLL DOWN -------------*/

.scroll_down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* -------------- MEDIA QUERIES (MEDIUM) ------------------- */

@media screen and (max-width: 1024px) {

}

/* -------------- MEDIA QUERIES (SMALL) ------------------- */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }


  .scroll_down {
    display: none;
  }
}
